.training__section {
  border: 2.6px solid #f6dbf2;
  padding: 16px 12px;
  width: 100%;
}

.training__section_title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--text-black);
  margin-bottom: 32px;
}
.training__section_list {
  text-align: left;
}
.training__section_item {
  margin-bottom: 16px;
}
.training__section_item:last-child {
  margin-bottom: 0px;
}
.training__section_text_head {
  margin-bottom: 12px;
}
.training__section_text {
  font-size: 12px;
}
.training__section_btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--text-black);
  width: 60%;
  max-width: 210px;
  height: 54px;
  background: var(--button-color);
  margin-top: 40px;
}
.training__section_btn:hover,
.training__section_btn:focus {
  background: var(--button-active);
}

@media screen and (min-width: 768px) {
  .training__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% - 24px) / 2);
    padding-left: 16px;
    padding-right: 16px;
  }
  .training__section_btn {
    align-self: center;
  }
  .training__section:last-child {
    display: block;
    min-width: 100%;
  }
  .training__section_title {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .training__section_text_head {
    font-size: 20px;
  }
  .training__section_text {
    font-size: 16px;
  }
  .training__section_btn {
    font-size: 20px;
    margin-top: 48px;
    height: 70px;
    min-width: 268px;
  }
}
@media screen and (min-width: 1280px) {
  .training__section:last-child {
    display: flex;
    min-width: calc((100% - 48px) / 3);
  }
  .training__section {
    width: calc((100% - 48px) / 3);
    padding: 40px 32px 28px;
  }

  .training__section_title {
    margin-bottom: 48px;
  }
  .training__section_btn {
    margin-top: 58px;
  }
}
